<div class="sis-header-banner">
    <div class="inner">
        <span class="sys-name">STUDENT INFORMATION SYSTEM</span>
        <span class="welcome">Academic Records Management Portal</span>
    </div>
</div>
